mixin displayFriends(users)
    .modal#modal-share(role='dialog', aria-labelledby='modal-share-label')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.btn-primary.btn-sm.close(data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            | &times;
                    .h4.modal-title#modal-share-label
                        | Выберите пользователей из списка
                .modal-body: .list-group
                    .input-group.form-horizontal(no-border)
                        span.input-group-addon
                            input#selectAll(type='checkbox')
                        input.form-control#shareSelected(type='button', value='Поделиться')
                    for user, i in users
                        .list-group-item(no-border): .input-group
                            span.input-group-addon
                                input.selectUser(type='checkbox', id='selected' + i, data-index=i, data-input='data' + i)
                            input.form-control(id='data' + i, name='data', type='text', value=user, readonly)
+displayFriends(users)