mixin displayPager(currentPage, pageCount)
    - if (pageCount) {
    ul.pagination
        - var i = 1;
        - if (currentPage == 1) {
        li.disabled: a(aria-label='Previous', href='javascript:void(0)'): span(aria-hidden='true')
            | &laquo;
        - }
        - else {
        li: a.switch-page-previous
            | &laquo;
        - }
        - while (i <= pageCount) {
        - if (i == currentPage) {
        li.active: a.switch-page-current= i
        //- а смысл кликать по текущей странице?
        - }
        - else {
        li: a.switch-page(data-index=i, href='javascript:void(0)')= i
        - }
        - i++;
        - }
        - if (currentPage == pageCount) {
        li.disabled: a(aria-label='Next'): span(aria-hidden='true')
            | &raquo;
        - }
        - else {
        li: a.switch-page-next(href='javascript:void(0)')
            | &raquo;
        - }
    - }
+displayPager(currentPage, pageCount)