mixin displayTasks(tasks)
    - if (tasks.length != 0)
    .standard: .panel.panel-default
        .panel-heading
            .h1: .small
                | Список задач
        .panel-body.list-group
            block
            for task, i in tasks
                .list-group-item(no-border): .input-group
                    span.input-group-addon
                        input.selectTask(type='checkbox', id='selected' + i, data-index=i, data-input='data' + i)
                    input.form-control(id='data' + i, name='data', type='text', value=task)
                    span.input-group-btn
                        button.btn.btn-default.edit(title='Редактировать', type='submit', data-index=i, data-input='data' + i)
                            span.glyphicon.glyphicon-pencil
                        button.btn.btn-default.share(title='Поделиться', type='submit', data-index=i, data-input='data' + i)
                            span.glyphicon.glyphicon-share-alt
    - else
    .row: .standard
        .h1: .small Добавьте свою первую задачу
+displayTasks(tasks)