mixin displayUsers(users)
    - if (users && users.length != 0)
    .standard: .panel.panel-default
        .panel-heading
            .h1: .small
                | Список пользователей
        .panel-body
            .btn-group.btn-group-justified
                a.btn.btn-primary#toggleSelection
                    | Переключить выделение
                a.btn.btn-primary#deleteSelected
                    | Удалить отмеченные
            .list-group(no-border)
                for user, i in users
                    .list-group-item(no-border): .input-group
                        span.input-group-addon
                            input.selectUser(type='checkbox', id='selected' + i, data-index=i, data-input='data' + i)
                        input.form-control(id='data' + i, name='data', type='text', value=user)
                        span.input-group-btn
                            button.btn.btn-default.edit(title='Редактировать', type='submit', data-index=i, data-input='data' + i)
                                img(src="icons/edit.ico")
    - else
    .row: .standard
        .h1: .small Пользователей еще нет
+displayUsers(users)