extends layout
block styles
    script(src='js/admin.js')
block content
    .row: .standard
        include credentials
        +displayProfile(currentUser)
    #compile
        span.btn-group
            button.btn.btn-primary#btn-compile
                | Перекомпилировать .jade
    #users
        include src/users