//- предупреждения
#alerts.navbar-fixed-top
    .row: .standard
        .alert.alert-dismissable#alert-display(
        style= 'display: none', original-class='alert alert-dismissable')
            button.btn-large.close#btn-close-alert
                span &times;
            p#alert-text