mixin displayProfile(user)
    .modal#modal-profile(role='dialog',aria-labelledby='modal-share-label')
        .modal-dialog(role='document'): .modal-content
            .modal-header
                button.btn-primary.btn-sm.close(data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .h4.modal-title#modal-share-label Ваш профиль
            .modal-body
                .form-horizontal
                    .input-group
                        label(for='login') Логин:
                        input.input-profile#login(value = user.login, readonly)
                    .input-group
                        label(for='email') Email:
                        input.input-profile#email(value = user.email, readonly)
                        - if(user.privileges == 'admin')
                        .input-group
                            a.btn-primary(href='/admin') Админка
                    .input-group
                        a.btn-default(href='/logout') Выйти
            .modal-footer
                button.btn.btn-default(data-dismiss='modal')
                    | Закрыть