extends layout
block styles
    script(src='js/submit.js')
    script(src='js/share.js')
block content
    include credentials
    +displayProfile(currentUser)
    button.btn-default.btn-sm(data-toggle='modal', data-target='#modal-profile')
        | #{currentUser.login}
    .standard: .panel.panel-default(role='navigation')
        .form-horizontal
            .input-group
                .btn-group.btn-group-justified
                    a.btn.btn-primary#toggleSelection
                        | Переключить выделение
                    a.btn.btn-primary#deleteSelected
                        | Удалить отмеченные
            .input-group
                input#dataAdded.form-control(type='text', placeholder='Добавить задачу')
                span.input-group-btn
                    button#newTask.btn.btn-success
                        span.glyphicon.glyphicon-ok
            .btn-group
                button.btn.btn-default.dropdown-toggle#dropdown(data-toggle='dropdown')
                    | Количество задач на странице
                    span.caret
                ul.dropdown-menu
                    each val in [5, 10, 20, 50]
                        li: a(data-pagelength=JSON.stringify(val)).toggle-display
                            | #{val}
    #tasks
        include src/tasks
    #pagination
        include src/pagination