doctype html
html(lang='en')
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title= title
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        script(src="js/src/jquery.js")
        script(src="js/src/bootstrap.min.js")
        script(src="js/src/async.js")
        script(src="js/alert.js")
        block styles
    body
        .container(align='center')
            #modal
                //- если надо показать модальное окно
            include alerts
            block content
