extends layout
block styles
    link(rel='stylesheet', href='/css/loginStyles.css')
    script(src='js/login.js')
block content
    h2 Вход
    .form-horizontal.login#form-login
        .input-group: .extended
            input.form-control#login(placeholder='Логин', type='text', name='login', required=true, autofocus=true)
        .input-group: .extended
            input.form-control#password(placeholder='Пароль', type='password', name='password', required=true)
        .input-group: .extended
            button.btn.btn-block.btn-primary#btn-login Войти