.modal#modal-login(role='dialog', aria-labelledby='modal-share-label')
    .modal-dialog(role='document'): .modal-content
        .modal-header
            button.btn-primary.btn-sm.close(data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true')
                    | &times;
            .h4.modal-title#modal-share-label
                | Логин
        .modal-body
            form#form-login(action='/welcome', method='post')
                .row
                    input.input-login#login(
                    placeholder='Логин',
                    type='text',
                    name='login',
                    required,
                    autofocus)
                .row
                    input.input-login#password(
                    placeholder='Пароль',
                    type='password',
                    autocomplete='off',
                    name='pass',
                    required)
                .row
                    a.btn-sm#toggle-password-shown(role='button')
                        i Нажмите для показа/скрытия пароля
            form.hidden#form-success(action='/welcome/submit', method='post')
                input#url-destination(type='password', name='url')
        .modal-footer
            button.btn.btn-default(data-dismiss='modal')
                | Закрыть
            button.btn.btn-primary#btn-save
                | Войти