extends layout
block styles
    script(src='js/register.js')
block content
    #register: .row: .standard
        .form-horizontal
            .input-group
                input#login(placeholder='Логин')
            .input-group
                input#pass(placeholder='Пароль')
            .input-group
                input#email(placeholder='E-mail')
            .input-group
                button.btn.btn-primary.btn-block#btn-submit Войти