extends layout
block styles
    script(src='js/modal-login.js')
block content
    include modal-login
    include alerts
    .jumbotron#getAccess
        .row
            .h1 Hello World!
        .row: .standard
            .btn-group(role='group').btn-group-lg.btn-group-justified
                a.btn.btn-primary.btn-block#btn-login(data-toggle='modal',
                data-target='#modal-login', role='button')
                    | Login
                a.btn.btn-default.btn-block#btn-register(href="/register", role='button')
                    | Sign up