body {
  padding: 50px;
  font: 14px "Lucida Grande", Verdana, Arial, sans-serif !important;
}

img {
  max-width: 100%;
  max-height: 100%;
}

input.input-login {
  padding: 10px;
  margin: 15px;
  border: 1px solid #7fb0ed;
  border-radius: 10px;
  font-size: 16px;
}
input.input-login:hover {
  border-color: #006c00;
  background-color: #c0ffc0;
}

.input-group-btn {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

a {
  color: #00B7FF;
}
.alert.alert-top {
  position: fixed;
}
.btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Чтобы не лепить строки близко друг к другу */
.standard {
  margin: 0 30%;
}

.fixed-top {
  position: fixed;
  margin: 0 auto;
}

.row-navbar {
  margin: 2.5% 30.5% -2.5% 30.5%;
}
div[no-border] {
  border: none;
}
.text-align-center {
  text-align: center;
}
.font-normal {
  font-weight: normal;
}

a img {
  border: 1px solid lightgray;
}

.extended {
  margin: 15px 0 15px 0;
}
/*
input {
  padding: 5px;
}
*/