extends ../layout
block content
    .jumbotron.text-align-center
        .row: .extended
            .h2 Ошибка!
        .row: .extended
            .h3 Просмотр ресурса #{url} запрещен. Код ошибки - 403
        .row: .extended
            a.btn.btn-lg.btn-primary#btn-return(href='/')
                | Вернуться на главную страницу
